@import url("https://use.typekit.net/tzu6iyh.css");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://use.typekit.net/tzu6iyh.css");
/* line 6, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 27, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 32, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_reset.scss */
body {
  line-height: 1;
}

/* line 36, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 40, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 44, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 50, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 12, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.vertical-align {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  display: flex;
}

/* line 19, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.vertical-align > div {
  vertical-align: middle;
}

/* line 23, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
body {
  background-color: #F6F6F6;
}

/* line 27, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.gradient {
  height: 100vh;
  background: linear-gradient(rgba(92, 184, 178, 0.8), rgba(27, 54, 93, 0.8)), url(../images/background_medium.jpg) center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  flex-direction: column;
}

/* line 49, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.gradient > img {
  width: 150px;
  margin-bottom: 60px;
}

/* line 55, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.small-icon {
  width: 24px;
}

/* line 61, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.content-margin {
  width: 100%;
  margin: 0 auto;
  margin-top: 64px;
  display: block;
}

/* line 68, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.content-margin-40 {
  width: calc(100% - 40px);
  margin: 0 auto;
  margin-top: 98px;
  display: block;
  overflow: hidden;
}

/* line 78, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.client-list > a {
  margin-left: 4px;
  margin-right: 4px;
  margin-top: 8px;
  background-color: #ffffff;
  box-shadow: 0px 2px 2px #D4D3D3;
  text-decoration: none;
  height: 130px;
  display: block;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 4px;
}

/* line 93, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.client-list > a > div > p {
  font-size: 16px;
  font-weight: bold;
}

/* line 99, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.client-list > a:last-child {
  margin-bottom: 8px;
}

/* line 103, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.client-list > a > div > p:first-child {
  padding-bottom: 10px;
}

/* line 108, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.client-list > a > div > p:last-child {
  font-weight: 400;
}

/* line 113, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.client-list > a > div {
  margin: 0 20px 0 0;
}

/* line 118, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.client-list > a > img {
  height: 90px;
  margin: 0 20px 0 20px;
}

/* line 125, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.heading {
  width: 100%;
  position: fixed;
  top: 0px;
  background-color: #009CA6;
  height: 60px;
  z-index: 100;
}

/* line 134, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.heading > .vertical_align > a {
  text-decoration: none;
  color: #ffffff;
  justify-content: center;
  display: flex;
  align-items: center;
  vertical-align: middle;
}

/* line 143, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.heading > .vertical_align > a > span {
  margin-left: -2px;
}

/* line 146, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.heading > h1 {
  font-size: 16px;
  height: 60px;
  color: #ffffff;
  justify-content: center;
  display: flex;
  align-items: center;
  vertical-align: middle;
}

/* line 156, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.minus-margin-60 {
  margin-top: -60px;
}

/* line 161, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.heading > a > img {
  float: right;
  display: flex;
}

/* line 166, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.heading > a > img {
  margin-top: -44px;
  width: 26px;
  height: 26px;
  margin-right: 20px;
}

/* line 173, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.return {
  display: flex;
  vertical-align: center;
  color: white;
  margin-left: 6px;
  display: flex;
}

/* line 184, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.vertical_align {
  display: flex;
  align-items: center;
  vertical-align: middle;
  height: 100%;
  width: 20%;
  margin-left: 6px;
}

/* line 193, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.float-left {
  display: flex;
  justify-content: flex-start;
}

/* line 198, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.float-right {
  flex: 0 1 auto;
  width: 100px;
  height: 100px;
  margin-left: auto;
}

/* line 205, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.details-left {
  flex: 0 1 auto;
  width: 160px;
  left: 8px;
  float: left;
}

/* line 213, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.details-right > img,
.details-right > svg,
.details-right > span,
.details-left > img,
.details-left > svg,
.details-left > span {
  vertical-align: middle;
}

/* line 223, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.details-right {
  flex: 0 1 auto;
  width: 50%;
  margin-left: auto;
  text-align: right;
  margin-right: 8px;
}

/* line 231, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.page {
  height: calc(100vh - 100px);
  overflow: initial;
}

/* line 237, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.menu_options {
  height: 60%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: row wrap;
}

/* line 249, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.menu-icons {
  margin: 0 auto;
  display: block;
  margin-bottom: 20px;
}

@media only screen and (min-width: 400px) and (max-width: 900px) {
  /* line 249, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
  .menu-icons {
    width: 28%;
  }
}

@media only screen and (min-width: 900px) and (max-width: 1200px) {
  /* line 249, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
  .menu-icons {
    width: 14%;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1800px) {
  /* line 249, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
  .menu-icons {
    width: 10%;
  }
}

@media only screen and (min-width: 1800px) {
  /* line 249, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
  .menu-icons {
    width: 8%;
  }
}

/* line 276, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.keno_client {
  height: 44%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: column wrap;
}

/* line 287, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.keno_client > h2 {
  display: block;
  color: #586066;
  font-weight: 700;
}

/* line 293, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.keno_client > img {
  height: 140px;
}

/* line 297, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.menu_options > a {
  height: 33.3%;
  width: calc(33.3% - 6px);
  background-color: #ffffff;
  text-align: center;
  vertical-align: middle;
  display: table;
}

/* line 306, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.menu_options > a > div {
  vertical-align: middle;
  display: table-cell;
}

/* line 311, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.menu_options > a:hover,
.client-list > a:hover,
.food_menu > a:hover,
.default-menu > a:hover {
  background-color: #fafafa;
}

/* line 318, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.food_menu {
  height: 50%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

/* line 325, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.food_menu > a {
  height: 50%;
  width: calc(50% - 6px);
  background-color: #ffffff;
  text-align: center;
  display: table;
}

/* line 334, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.food_menu > a > div {
  display: table-cell;
  vertical-align: middle;
}

/* line 339, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.section_page {
  height: 100vh;
}

/* line 343, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.default-menu {
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: flex-start;
  /* adjustment */
  position: relative;
}

/* line 353, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.incident_container {
  margin-top: 128px;
}

/* line 357, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.default-menu > a {
  height: 120px;
  width: 100%;
  margin-bottom: 8px;
  background-color: #ffffff;
  text-decoration: none;
  box-shadow: 0px 2px 2px #D4D3D3;
  border-radius: 4px;
}

/* line 369, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.default-menu > a > p,
.default-menu > a > p,
.details-left,
.details-right,
.title {
  margin-bottom: 4px;
}

/* line 377, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.title {
  margin: 24px 0 8px 0;
}

/* line 381, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.incident_report_menu > p.title {
  margin: 0 8px 0 0;
}

/* line 385, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.injury_report_img {
  width: 120px;
}

/* line 389, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.client_info_bar {
  top: 60px;
  z-index: 2;
  position: fixed;
  height: 60px;
  width: 100%;
  background: #ffffff;
  display: flex;
  box-shadow: 0px 2px 2px #D4D3D3;
}

/* line 401, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.client_info_bar > img {
  height: 40px;
  margin: 10px 20px 10px 8px;
}

/* line 406, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.client_info_bar > img,
.client_info_bar > p {
  float: left;
}

/* line 411, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.client_info_bar > p {
  display: flex;
  align-items: center;
  vertical-align: middle;
  font-size: 16px;
  font-weight: 700;
}

/* line 419, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
#imageContainer {
  background-color: #333;
  width: 120px;
  height: 120px;
  border-radius: 4px 0px 0px 4px;
  overflow: hidden;
  float: left;
  margin-right: 12px;
}

/* line 429, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
#imageContainer > img {
  width: 120px;
}

/* line 437, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.injury_container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 100px 100px 100px;
  background-color: #fff;
  color: #444;
}

/* line 446, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.default-menu > a:last-child {
  margin-bottom: 58px;
}

/* line 450, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.margin-top-4 {
  margin-top: 4px;
}

/* line 454, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.margin-bottom-4 {
  margin-bottom: 4px;
}

/* line 458, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.margin-left-4 {
  margin-left: 4px;
}

/* line 462, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.margin-right-4 {
  margin-right: 4px;
}

/* line 466, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.margin-top-8 {
  margin-top: 8px;
}

/* line 470, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.margin-top-10 {
  margin-top: 10px;
}

/* line 475, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.margin-top-12 {
  margin-top: 12px;
}

/* line 479, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.margin-top-14 {
  margin-top: 14px;
}

/* line 483, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.margin-top-20 {
  margin-top: 20px;
}

/* line 487, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.margin-top-0 {
  margin-top: 0;
}

/* line 491, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.fifty_width {
  width: 49%;
}

/* line 495, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.padding-top-12 {
  padding-top: 12px;
}

/* line 499, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.margin-bottom-60 {
  margin-bottom: 60px;
}

/* line 503, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.containter_fullpage {
  margin: 0 4px 0 4px;
}

/* line 507, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.injury_img {
  width: calc(33.3% - 2.6px);
  margin: 8px 0 16px 0;
}

/* line 512, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.background_container {
  background: #ffffff;
  margin: 64px 4px 0 4px;
  height: calc(100vh - 68px);
}

/* line 522, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.row > .column {
  padding: 0 4px 0 0;
}

/* line 526, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* line 532, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.column {
  float: left;
  width: calc(33.3% - 4px);
}

/* The Modal (background) */
/* line 537, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.modal {
  display: none;
  position: fixed;
  z-index: 101;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

/* Modal Content */
/* line 550, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.modal-content {
  position: relative;
  margin: auto;
  padding: 0;
  width: 90%;
}

/* The Close Button */
/* line 557, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
  transition: 0.6s ease;
}

/* line 567, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.close:hover,
.close:focus {
  color: #009CA6;
  text-decoration: none;
  cursor: pointer;
  transition: 0.6s ease;
}

/* line 575, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.mySlides {
  display: none;
}

/* line 579, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
/* line 583, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 55%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
/* line 600, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
/* line 605, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.prev:hover,
.next:hover {
  color: #009CA6;
}

/* line 610, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.thumbnail {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
}

/* line 617, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.thumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* line 628, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.warning_container,
.date_header,
.meal_header {
  width: 100%;
  background-color: #ffffff;
  margin-top: 4px;
}

/* line 636, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.meal_header {
  background-color: #009CA6;
  height: 40px;
  line-height: 40px;
  text-align: center;
}

/* line 643, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.meal_header > p {
  color: #ffffff;
  width: 100%;
  font-weight: 700;
}

/* line 649, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.date_header {
  height: 40px;
  margin-top: 64px;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  line-height: 40px;
}

/* line 659, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.date_header > p {
  text-align: center;
  width: 100%;
}

/* line 664, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.date_header > .right_arrow {
  flex: 0 1 auto;
  margin-left: auto;
  padding-right: 12px;
}

/* line 670, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.date_header > .left_arrow {
  padding-left: 12px;
}

/* line 674, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.date_header > a > svg {
  line-height: 40px;
  vertical-align: middle;
}

/* line 679, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.date_header > a {
  text-decoration: none;
}

/* line 683, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.warning_container {
  height: 60px;
  display: flex;
  align-items: center;
  vertical-align: middle;
}

/* line 690, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.warning_container > span {
  width: calc(100% - 16px);
  margin: 0 auto;
  display: block;
  line-height: 20px;
  color: #009CA6;
}

/* line 698, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.warning_container > svg {
  margin: 0 8px;
}

/* line 701, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.meal_container {
  margin-top: 4px;
  width: 100%;
  background-color: #ffffff;
}

/* line 707, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.meal_container > p {
  border-bottom: solid 0.5px #F6F6F6;
  margin: 10px 10px 14px 10px;
  padding-bottom: 10px;
}

/* line 713, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.meal_container > p:first-child {
  padding-top: 10px;
  margin-top: 0;
}

/* line 718, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.meal_container > p:last-child {
  border-bottom: none;
}

/* line 722, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.main_container {
  margin-top: 40px;
  width: 100%;
  background-color: #ffffff;
}

/* line 728, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.drink_container {
  margin-top: 4px;
  width: 100%;
  background-color: #ffffff;
  overflow: hidden;
}

/* line 735, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.main_container > p {
  float: left;
  width: calc(100% - 40px);
  margin: 0px 0 8px 10px;
  padding: 15px 0;
  border-bottom: solid 0.5px #F6F6F6;
}

/* line 743, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.drink_container > div {
  padding-bottom: 10px;
  width: 100%;
  margin: 0 10px;
}

/* line 749, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.drink_container > div > p {
  float: left;
  width: calc(50% - 20px);
  margin: 5px 0 8px 0;
  padding-bottom: 15px;
  border-bottom: solid 0.5px #F6F6F6;
}

/* line 757, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.drink_container > div:last-child > p {
  border-bottom: none;
  margin-bottom: 0;
}

/* line 762, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.drink_container > div > p:last-child {
  text-align: right;
}

/* line 767, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.menu_option {
  background: #ffffff;
  width: calc(100% - 11px);
  margin: 4px 0;
  font-weight: 400;
  height: 40px;
  vertical-align: middle;
  line-height: 40px;
  padding-left: 10px;
  cursor: pointer;
}

/* line 779, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.menu_option > input {
  opacity: 0;
  float: right;
  width: 20px;
  margin-top: 0;
  padding-left: 0;
  margin-bottom: 0;
}

/* line 788, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.menu_selected {
  color: #ffffff;
  background-color: #7474C1;
}

/*.menu_selected {
    color: $Primary-colour;
    font-weight:700;
    background-color: $Plain-colour;
}*/
/* line 798, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.st0 {
  clip-path: url(#SVGID_2_);
  enable-background: new;
}

/* line 803, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.st0 {
  clip-path: url(#SVGID_2_);
  enable-background: new;
}

/* line 808, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.st1 {
  clip-path: url(#SVGID_4_);
}

/* line 812, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.st2 {
  clip-path: url(#SVGID_6_);
  fill: none;
  stroke: #BFBEBE;
  stroke-miterlimit: 10;
}

/* line 819, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.st3 {
  fill: #939595;
}

/* line 823, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.st4 {
  clip-path: url(#SVGID_8_);
  fill: #1A365D;
}

/* line 828, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.st5 {
  clip-path: url(#SVGID_10_);
  fill: #009CA5;
}

/* line 833, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.st6 {
  clip-path: url(#SVGID_12_);
  fill: #2B5898;
}

/* line 838, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.st7 {
  clip-path: url(#SVGID_14_);
  fill: #0D1622;
}

/* line 843, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.st8 {
  clip-path: url(#SVGID_16_);
  fill: #59C7DC;
}

/* line 848, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.st9 {
  clip-path: url(#SVGID_18_);
  fill: #00545A;
}

/* line 853, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.st10 {
  clip-path: url(#SVGID_20_);
  fill: #73AA4E;
}

/* line 858, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.st11 {
  clip-path: url(#SVGID_22_);
  fill: #9CC480;
}

/* line 863, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.st12 {
  clip-path: url(#SVGID_24_);
  fill: #507636;
}

/* line 868, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.st13 {
  clip-path: url(#SVGID_26_);
  fill: #7574B6;
}

/* line 873, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.st14 {
  clip-path: url(#SVGID_28_);
  fill: #A7A6CF;
}

/* line 878, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.st15 {
  clip-path: url(#SVGID_30_);
  fill: #4C4C92;
}

/* line 883, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.st16 {
  clip-path: url(#SVGID_32_);
  fill: #808182;
}

/* line 888, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.st17 {
  clip-path: url(#SVGID_34_);
  fill: #A5ADB1;
}

/* line 893, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.st18 {
  clip-path: url(#SVGID_36_);
  fill: #586066;
}

/* line 898, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.st19 {
  fill: none;
  stroke: #009CA5;
  stroke-width: 2;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

/* line 906, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.st20 {
  fill: none;
  stroke: #009CA5;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

/* line 915, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.st21 {
  fill: none;
  stroke: #009CA5;
  stroke-width: 2;
  stroke-miterlimit: 10;
}

/* line 922, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.st22 {
  fill: none;
  stroke: #009CA5;
  stroke-width: 2.3034;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

/* line 931, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.st23 {
  fill: none;
  stroke: #009CA5;
  stroke-width: 2.0061;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

/* line 940, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.st24 {
  fill: #FFFFFF;
}

/* line 944, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.st25 {
  fill: #009CA5;
}

/* line 948, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.st26 {
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

/* line 957, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.st27 {
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 2;
  stroke-miterlimit: 10;
}

/* line 964, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.st28 {
  fill: none;
  stroke: #009CA4;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

/* line 973, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.st29 {
  fill: #009CA5;
}

/* line 977, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.st30 {
  fill: none;
  stroke: #009CA5;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

/* line 988, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
#container {
  -webkit-clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
  clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
  background: #ffffff;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  margin-bottom: 14px;
  margin-top: 40px;
}

/* line 999, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
#glass {
  -webkit-clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
  clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
  background: #ffffff;
  width: 100px;
  height: 150px;
  position: relative;
}

/* line 1008, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
#water {
  background-color: #2B5898;
  position: absolute;
  bottom: 0px;
  width: 300px;
  height: 100px;
}

/* line 1016, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
#water {
  -webkit-animation: water-fill 5s;
  animation: water-fill 5s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes water-fill {
  0% {
    height: 0;
  }
}

@keyframes water-fill {
  0% {
    height: 0;
  }
}

/* line 8, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_typography.scss */
p, li, label, span {
  font-size: 14px;
  font-family: "Open Sans", Helvetica, sans-serif;
}

/* line 14, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_typography.scss */
li {
  line-height: 24px;
}

/* line 18, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_typography.scss */
h1, h2, h3, h4, h5, h6, p, li, label, placeholder,
input[type='text'], .form-control {
  color: #7C878E;
  font-family: "Open Sans", Helvetica, sans-serif;
}

/* line 24, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Brandon Grotesque", Helvetica, sans-serif;
}

/* line 28, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_typography.scss */
h1 {
  font-size: 22px;
}

/* line 33, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_typography.scss */
h2 {
  font-size: 20px;
}

/* line 37, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_typography.scss */
span.title {
  color: #7C878E;
  font-family: "Open Sans", Helvetica, sans-serif;
  font-size: 12px;
  margin-left: 4px;
}

/* line 47, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_typography.scss */
.menu_options > a,
.menu_options > a > div > p,
.food_menu > a {
  font-family: "Open Sans", Helvetica, sans-serif;
  text-decoration: none;
  font-size: 12px;
  color: #586066;
}

/* line 57, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_typography.scss */
.opacity-text {
  color: #a5adb1;
}

/* line 63, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_typography.scss */
.title {
  font-size: 12px;
  color: #a5adb1;
}

/* line 67, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_typography.scss */
.explaining-form-field {
  font-size: 12px;
  margin: 10px 0 4px 0;
}

/* line 72, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_typography.scss */
.highlight-text {
  color: #009CA6;
  font-weight: 700;
  font-size: 12px;
}

/* line 78, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_typography.scss */
.added-lineheight {
  line-height: 24px;
}

/* line 81, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_typography.scss */
.primary_heading {
  font-weight: 700;
  color: #009CA6;
  margin: 12px 10px;
}

/* line 87, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_typography.scss */
.field-validation-error {
  padding: 8px 0 0 0;
  display: block;
  color: #009CA6;
}

/* line 95, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_typography.scss */
.meal_heading {
  color: #009CA6;
  font-weight: 700;
}

/* line 100, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_typography.scss */
.consumption_amount,
.consumption_amount > span {
  color: #7C878E;
  font-weight: 700;
  text-align: center;
  font-size: 18px;
}

/* line 3, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_buttons.scss */
.login {
  width: 140px;
  height: 40px;
  border-radius: 0;
  -webkit-appearance: none;
  color: #7474C1;
  background-color: #ffffff;
  border: none;
  margin: 0 auto;
  display: block;
  margin-top: 30px;
}

/* line 16, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_buttons.scss */
.login-field {
  background-color: #ffffff;
  border: none;
  opacity: 0.5;
  width: 260px;
  height: 40px;
  margin-top: 2px;
  padding-left: 10px;
  margin-bottom: 20px;
  font-family: "Open Sans", Helvetica, sans-serif;
}

/* line 29, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_buttons.scss */
.fullwidth-ghost-btn {
  width: 100%;
  border: 2px solid #009CA6;
  background: none;
  color: #009CA6;
  border-radius: 0;
  box-shadow: 0px 2px 2px #D4D3D3;
}

/* line 38, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_buttons.scss */
.fullwidth-ghost-btn:hover {
  width: 100%;
  border: 2px solid #006c73;
  background: none;
  color: #006c73;
  border-radius: 0;
  box-shadow: 0px 2px 2px #D4D3D3;
}

/* line 47, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_buttons.scss */
.uploader-btn {
  width: 300px;
  background-color: #009CA6;
  border-radius: 0;
  box-shadow: 0px 2px 2px #D4D3D3;
}

/* line 55, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_buttons.scss */
input[type=text]:focus,
.form-control:focus,
textarea.incident-report:focus {
  border: 1px solid #2B5898;
  outline: none;
}

/* line 64, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_buttons.scss */
.gradient > input[type=text],
.gradient > form > [type='text'],
.login-field {
  border: none;
  outline: none;
}

/* line 72, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_buttons.scss */
.gradient > input[type="submit"]:focus {
  outline: none;
}

/* line 77, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_buttons.scss */
.warning-message {
  color: #ffffff;
}

/* line 81, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_buttons.scss */
.warning-message > svg {
  height: 24px;
}

/* line 85, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_buttons.scss */
::-moz-focus-inner {
  border: 0;
}

/* line 90, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_buttons.scss */
.login:hover {
  background-color: #e6e6e6;
}

/* line 95, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_buttons.scss */
label.login-page {
  font-family: "Open Sans", Helvetica, sans-serif;
  color: #ffffff;
  margin-top: 20px;
  font-weight: 400;
  font-size: 14px;
}

/* line 103, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_buttons.scss */
input[type='submit'],
input[type='text'],
input[type='file'],
.form-control,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* line 114, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_buttons.scss */
.gradient > input[type=text] {
  border: none;
}

/* line 121, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_buttons.scss */
.button-bottom {
  left: 0;
  bottom: 0;
  margin: 0;
  background-color: #009CA6;
  border: none;
  width: 100%;
  height: 50px;
  position: fixed;
  color: #ffffff;
  font-family: "Brandon Grotesque", Helvetica, sans-serif;
  font-size: 14px;
  box-sizing: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  box-shadow: inset 0 0 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}

/* line 143, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_buttons.scss */
.button-bottom:focus {
  outline: none;
}

/* line 147, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_buttons.scss */
.button-bottom:hover {
  background-color: #006c73;
}

/* line 151, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_buttons.scss */
a.button-bottom {
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  border-radius: 0;
}

/* line 159, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_buttons.scss */
.heading > div > a,
.button-bottom {
  text-decoration: none;
}

/* line 167, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_buttons.scss */
form > label,
form > inpit {
  display: block;
}

/* line 172, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_buttons.scss */
form > label {
  font-weight: 700;
  font-size: 12px;
}

/* line 178, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_buttons.scss */
.margin-top-40 {
  margin-top: 40px;
}

/* line 182, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_buttons.scss */
input,
.form-control {
  background-color: #ffffff;
  border: 1px solid #CDCDCD;
  width: calc(100% - 18px);
  height: 40px;
  margin-top: 10px;
  padding-left: 9px;
  margin-bottom: 20px;
  font-family: "Open Sans", Helvetica, sans-serif;
  border-radius: 4px;
  box-shadow: inset 0 2px 3px #EAEAEA;
}

/* line 197, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_buttons.scss */
.form-control {
  width: calc(100% - 2px);
  height: 46px;
}

/* line 205, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_buttons.scss */
input.upload-btn {
  background: url("../../images/app_icons/upload_tur.svg") no-repeat 24px center;
  margin: 0 auto;
  cursor: pointer;
}

/* line 213, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_buttons.scss */
.html5-element {
  width: calc(100% - 18px);
}

/* line 217, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_buttons.scss */
option {
  font-family: "Open Sans", Helvetica, sans-serif;
}

/* line 223, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_buttons.scss */
.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

/* line 232, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_buttons.scss */
.inputfile + label {
  display: inline-block;
}

/* line 236, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_buttons.scss */
.inputfile:focus + label {
  background-color: #009CA6;
}

/* line 240, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_buttons.scss */
input[type='file'] {
  visibility: hidden;
  display: none;
}

/* line 245, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_buttons.scss */
.inputfile + label,
.button-bottom,
.fullwidth-ghost-btn {
  cursor: pointer;
}

/* line 251, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_buttons.scss */
.inputfile + label * {
  pointer-events: none;
}

/* line 256, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_buttons.scss */
.file-uploader {
  width: 100%;
  background: #009CA6;
  color: #ffffff;
  border-radius: 0;
  box-shadow: 0px 2px 2px #D4D3D3;
  font-weight: 400;
  height: 40px;
  margin: 10px 0 10px 0;
}

/* line 267, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_buttons.scss */
.file-uploader:hover {
  background: #006c73;
}

/* line 271, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_buttons.scss */
.file-uploader > div {
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
}

/* line 278, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_buttons.scss */
.file-uploader > div > svg,
#imageUpload > label > div > svg {
  fill: #ffffff;
  margin-right: 6px;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  line-height: 40px;
}

/* line 289, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_buttons.scss */
#imageUpload {
  height: 40px;
}

/* line 293, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_buttons.scss */
.file-uploader > div > span {
  vertical-align: middle;
}

/* line 298, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_buttons.scss */
textarea.incident-report {
  height: 400px;
  width: calc(100% - 18px);
  background-color: #ffffff;
  border: 1px solid #CDCDCD;
  width: calc(100% - 20px);
  margin-top: 10px;
  padding: 10px 9px 10px 9px;
  margin-bottom: 20px;
  font-family: "Open Sans", Helvetica, sans-serif;
  border-radius: 4px;
  box-shadow: inset 0 2px 3px #EAEAEA;
}

/* line 315, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_buttons.scss */
.button-bottom:disabled {
  background-color: #D6D6D6;
  color: #7C878E;
}

/* line 320, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_buttons.scss */
.display_none {
  display: none;
}

/* line 325, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_buttons.scss */
.checkbox_slider {
  -webkit-box-shadow: inset 0 2px 3px #EAEAEA;
  -moz-box-shadow: inset 0 2px 3px #EAEAEA;
  -ms-box-shadow: inset 0 2px 3px #EAEAEA;
  -o-box-shadow: inset 0 2px 3px #EAEAEA;
  box-shadow: inset 0 2px 3px #EAEAE;
  width: 70px;
  height: 40px;
  background: #ffffff;
  margin: 10px 0 20px 0;
  border-radius: 50px;
  position: relative;
  border: 1px solid #CDCDCD;
  cursor: pointer;
  float: left;
}

/* line 338, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_buttons.scss */
.checkbox_text {
  float: left;
  margin: 10px 20px 0 0;
  line-height: 40px;
  vertical-align: middle;
}

/* line 346, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_buttons.scss */
.checkbox_slider:before {
  position: absolute;
  top: 12px;
  left: 13px;
  height: 2px;
  color: #26ca28;
  font-size: 16px;
}

/* line 356, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_buttons.scss */
.checkbox_slider:after {
  position: absolute;
  top: 12px;
  left: 84px;
  height: 2px;
  color: #111;
  font-size: 16px;
}

/* line 366, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_buttons.scss */
.checkbox_slider label {
  display: block;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all .3s ease-in-out;
  cursor: pointer;
  position: absolute;
  z-index: 1;
  background: #dddddd;
}

/**
 * Create the checkbox event for the label
 */
/* line 381, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_buttons.scss */
.checkbox_slider input[type=checkbox]:checked + label {
  left: 30px;
  background: #009CA6;
}

/*# sourceMappingURL=../main.map */