/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://use.typekit.net/tzu6iyh.css");
/* line 6, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 27, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 32, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_reset.scss */
body {
  line-height: 1;
}

/* line 36, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 40, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 44, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 50, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 12, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.vertical-align {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  display: flex;
}

/* line 19, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.vertical-align > div {
  vertical-align: middle;
}

/* line 23, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
body {
  background-color: #F6F6F6;
}

/* line 27, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.gradient {
  height: 100vh;
  background: linear-gradient(rgba(92, 184, 178, 0.8), rgba(27, 54, 93, 0.8)), url(../images/background_medium.jpg) center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  flex-direction: column;
}

/* line 49, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.gradient > img {
  width: 150px;
  margin-bottom: 60px;
}

/* line 55, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.small-icon {
  width: 24px;
}

/* line 61, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.content-margin {
  width: calc(100% - 8px);
  margin: 0 auto;
  margin-top: 68px;
  display: block;
}

/* line 69, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.content-margin-40 {
  width: calc(100% - 40px);
  margin: 0 auto;
  margin-top: 98px;
  display: block;
  overflow: hidden;
}

/* line 79, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.client-list > a {
  margin-left: 4px;
  margin-right: 4px;
  margin-top: 8px;
  background-color: #ffffff;
  box-shadow: 0px 2px 2px #D4D3D3;
  text-decoration: none;
  height: 130px;
  display: block;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 4px;
}

/* line 94, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.client-list > a > div > p {
  font-size: 16px;
  font-weight: bold;
}

/* line 100, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.client-list > a > div > p:first-child {
  padding-bottom: 10px;
}

/* line 105, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.client-list > a > div > p:last-child {
  font-weight: 400;
}

/* line 110, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.client-list > a > div {
  margin: 0 20px 0 0;
}

/* line 115, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.client-list > a > img {
  height: 90px;
  margin: 0 20px 0 20px;
}

/* line 122, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.heading {
  width: 100%;
  position: fixed;
  top: 0px;
  background-color: #009CA6;
  height: 60px;
}

/* line 130, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.heading > h1 {
  font-size: 16px;
  height: 60px;
  color: #ffffff;
  justify-content: center;
  display: flex;
  align-items: center;
  vertical-align: middle;
}

/* line 140, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.minus-margin-60 {
  margin-top: -60px;
}

/* line 145, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.heading > a > img {
  float: right;
  display: flex;
}

/* line 150, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.heading > a > img {
  margin-top: -44px;
  width: 26px;
  height: 26px;
  margin-right: 20px;
}

/* line 158, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.return {
  display: flex;
  vertical-align: center;
  color: white;
  margin-left: 6px;
  display: flex;
}

/* line 169, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.vertical_align {
  display: flex;
  align-items: center;
  vertical-align: middle;
  height: 100%;
  width: 20%;
  margin-left: 6px;
}

/* line 179, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.float-left {
  display: flex;
  justify-content: flex-start;
}

/* line 185, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.float-right {
  flex: 0 1 auto;
  width: 100px;
  height: 100px;
  margin-left: auto;
}

/* line 192, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.details-left {
  flex: 0 1 auto;
  width: 150px;
  height: 100px;
  position: absolute;
  left: 8px;
  display: inline-block;
}

/* line 203, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.details-right {
  flex: 0 1 auto;
  width: 50%;
  margin-left: auto;
  right: 0;
  text-align: right;
  margin-right: 8px;
}

/* line 215, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.page {
  height: calc(100vh - 100px);
  overflow: initial;
}

/* line 220, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.menu_options {
  height: 60%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: row wrap;
}

/* line 232, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.menu-icons {
  width: 26%;
  margin: 0 auto;
  display: block;
  margin-bottom: 20px;
}

/* line 240, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.keno_client {
  height: 44%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: column wrap;
}

/* line 251, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.keno_client > h2 {
  display: block;
  color: #586066;
  font-weight: 700;
}

/* line 257, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.keno_client > img {
  height: 140px;
}

/* line 261, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.menu_options > a {
  height: 33.3%;
  width: calc(33.3% - 6px);
  background-color: #ffffff;
  text-align: center;
  vertical-align: middle;
  display: table;
}

/* line 270, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.menu_options > a > div {
  vertical-align: middle;
  display: table-cell;
}

/* line 276, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.menu_options > a:hover,
.client-list > a:hover,
.food_menu > a:hover,
.default-menu > a:hover {
  background-color: #fafafa;
}

/* line 287, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.food_menu {
  height: 50%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

/* line 295, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.food_menu > a {
  height: 50%;
  width: calc(50% - 6px);
  background-color: #ffffff;
  text-align: center;
}

/* line 302, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.section_page {
  height: 100vh;
}

/* line 308, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.default-menu {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 4px;
  display: flex;
  justify-content: flex-start;
  /* adjustment */
  position: relative;
}

/* line 319, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.default-menu > a {
  height: 200px;
  width: calc(100% - 16px);
  margin-bottom: 8px;
  background-color: #ffffff;
  text-decoration: none;
  padding: 10px 0 10px 8px;
  box-shadow: 0px 2px 2px #D4D3D3;
  border-radius: 4px;
}

/* line 330, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.default-menu > a > p,
.default-menu > a > p,
.details-left,
.details-right,
.title {
  margin-bottom: 4px;
}

/* line 338, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.title {
  margin: 24px 0 8px 0;
}

/* line 341, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.margin-top-4 {
  margin-top: 4px;
}

/* line 346, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.margin-bottom-4 {
  margin-bottom: 4px;
}

/* line 351, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.margin-left-4 {
  margin-left: 4px;
}

/* line 356, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.margin-right-4 {
  margin-right: 4px;
}

/* line 361, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.margin-top-8 {
  margin-top: 8px;
}

/* line 365, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.margin-top-10 {
  margin-top: 10px;
}

/* line 370, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.margin-top-12 {
  margin-top: 12px;
}

/* line 374, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.margin-top-14 {
  margin-top: 14px;
}

/* line 378, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.margin-top-20 {
  margin-top: 20px;
}

/* line 383, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.margin-top-0 {
  margin-top: 0;
}

/* line 387, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.fifty_width {
  width: 49%;
}

/* line 391, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.containter_fullpage {
  margin: 0 4px 0 4px;
}

/* line 397, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.injury_img {
  width: calc(33.3% - 2.6px);
  margin: 8px 0 16px 0;
}

/* line 404, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.background_container {
  margin-top: 60px;
  padding: 4px;
  height: calc(100vh - 68px);
  background: #ffffff;
}

/* line 416, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.row > .column {
  padding: 0 4px 0 0;
}

/* line 420, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* line 426, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.column {
  float: left;
  width: calc(33.3% - 4px);
}

/* The Modal (background) */
/* line 432, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

/* Modal Content */
/* line 446, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.modal-content {
  position: relative;
  margin: auto;
  padding: 0;
  width: 90%;
}

/* The Close Button */
/* line 454, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
  transition: 0.6s eas;
}

/* line 464, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.close:hover,
.close:focus {
  color: #009CA6;
  text-decoration: none;
  cursor: pointer;
  transition: 0.6s eas;
}

/* line 472, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.mySlides {
  display: none;
}

/* line 476, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
/* line 481, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 55%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
/* line 499, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
/* line 505, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.prev:hover,
.next:hover {
  color: #009CA6;
}

/* line 8, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_typography.scss */
p, li, label {
  font-size: 16px;
  font-family: "Open Sans", Helvetica, sans-serif;
}

/* line 14, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_typography.scss */
li {
  line-height: 24px;
}

/* line 18, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_typography.scss */
h1, h2, h3, h4, h5, h6, p, li, label, placeholder,
input[type='text'], .form-control {
  color: #7C878E;
  font-family: "Open Sans", Helvetica, sans-serif;
}

/* line 24, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Brandon Grotesque", Helvetica, sans-serif;
  font-size: 22px;
}

/* line 31, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_typography.scss */
h2 {
  font-size: 20px;
}

/* line 37, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_typography.scss */
.menu_options > a,
.menu_options > a > div > p,
.food_menu > a {
  font-family: "Open Sans", Helvetica, sans-serif;
  text-decoration: none;
  font-size: 12px;
  color: #586066;
}

/* line 47, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_typography.scss */
.opacity-text {
  color: #7c998e;
}

/* line 53, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_typography.scss */
.title {
  font-size: 12px;
}

/* line 56, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_typography.scss */
.explaining-form-field {
  font-size: 12px;
  margin: 10px 0 4px 0;
}

/* line 3, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_buttons.scss */
.login {
  width: 140px;
  height: 40px;
  border-radius: 0;
  -webkit-appearance: none;
  color: #7474C1;
  background-color: #ffffff;
  border: none;
  margin: 0 auto;
  display: block;
  margin-top: 30px;
}

/* line 16, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_buttons.scss */
.login-field {
  background-color: #ffffff;
  border: none;
  opacity: 0.5;
  width: 260px;
  height: 40px;
  margin-top: 2px;
  padding-left: 10px;
  margin-bottom: 20px;
  font-family: "Open Sans", Helvetica, sans-serif;
}

/* line 29, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_buttons.scss */
.fullwidth-ghost-btn {
  width: 100%;
  border: 2px solid #009CA6;
  background: none;
  color: #009CA6;
  border-radius: 0;
  box-shadow: 0px 2px 2px #D4D3D3;
}

/* line 38, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_buttons.scss */
.fullwidth-ghost-btn:hover {
  width: 100%;
  border: 2px solid #006c73;
  background: none;
  color: #006c73;
  border-radius: 0;
  box-shadow: 0px 2px 2px #D4D3D3;
}

/* line 47, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_buttons.scss */
.uploader-btn {
  width: 300px;
  background-color: #009CA6;
  border-radius: 0;
  box-shadow: 0px 2px 2px #D4D3D3;
}

/* line 55, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_buttons.scss */
input[type=text]:focus,
.form-control:focus,
textarea.incident-report:focus {
  border: 1px solid #2B5898;
  outline: none;
}

/* line 63, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_buttons.scss */
::-moz-focus-inner {
  border: 0;
}

/* line 68, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_buttons.scss */
.login:hover {
  background-color: #e6e6e6;
}

/* line 73, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_buttons.scss */
label.login-page {
  font-family: "Open Sans", Helvetica, sans-serif;
  color: #ffffff;
  margin-top: 20px;
  font-weight: 400;
  font-size: 14px;
}

/* line 81, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_buttons.scss */
input[type='submit'],
input[type='text'],
input[type='file'],
.form-control,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* line 93, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_buttons.scss */
.button-bottom {
  left: 0;
  bottom: 0;
  margin: 0;
  background-color: #009CA6;
  border: none;
  width: 100%;
  height: 50px;
  position: fixed;
  color: #ffffff;
  font-family: "Brandon Grotesque", Helvetica, sans-serif;
  font-size: 14px;
  box-sizing: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  box-shadow: inset 0 0 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}

/* line 115, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_buttons.scss */
.button-bottom:focus {
  outline: none;
}

/* line 119, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_buttons.scss */
.button-bottom:hover {
  background-color: #006c73;
}

/* line 123, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_buttons.scss */
a.button-bottom {
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  border-radius: 0;
}

/* line 130, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_buttons.scss */
.heading > div > a,
.button-bottom {
  text-decoration: none;
}

/* line 138, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_buttons.scss */
form > label,
form > inpit {
  display: block;
}

/* line 143, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_buttons.scss */
form > label {
  font-weight: 700;
  font-size: 12px;
}

/* line 149, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_buttons.scss */
.margin-top-40 {
  margin-top: 40px;
}

/* line 153, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_buttons.scss */
input,
.form-control {
  background-color: #ffffff;
  border: 1px solid #CDCDCD;
  width: calc(100% - 18px);
  height: 40px;
  margin-top: 10px;
  padding-left: 9px;
  margin-bottom: 20px;
  font-family: "Open Sans", Helvetica, sans-serif;
  border-radius: 4px;
  box-shadow: inset 0 2px 3px #EAEAEA;
}

/* line 168, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_buttons.scss */
.form-control {
  width: calc(100% - 2px);
  height: 46px;
  margin-bottom: 2px;
}

/* line 174, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_buttons.scss */
option {
  font-family: "Open Sans", Helvetica, sans-serif;
}

/* line 180, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_buttons.scss */
.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

/* line 189, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_buttons.scss */
.inputfile + label {
  display: inline-block;
}

/* line 193, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_buttons.scss */
.inputfile:focus + label {
  background-color: #009CA6;
}

/* line 197, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_buttons.scss */
input[type='file'] {
  visibility: hidden;
  display: none;
}

/* line 202, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_buttons.scss */
.inputfile + label,
.button-bottom,
.fullwidth-ghost-btn {
  cursor: pointer;
}

/* line 208, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_buttons.scss */
.inputfile + label * {
  pointer-events: none;
}

/* line 213, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_buttons.scss */
.file-uploader {
  width: 100%;
  background: #009CA6;
  color: #ffffff;
  border-radius: 0;
  box-shadow: 0px 2px 2px #D4D3D3;
  font-weight: 400;
  height: 40px;
  margin: 10px 0 10px 0;
}

/* line 224, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_buttons.scss */
.file-uploader:hover {
  background: #006c73;
}

/* line 228, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_buttons.scss */
.file-uploader > div {
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
}

/* line 235, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_buttons.scss */
.file-uploader > div > svg {
  fill: #ffffff;
  vertical-align: middle;
  margin-right: 6px;
  width: 18px;
  height: 18px;
}

/* line 243, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_buttons.scss */
.file-uploader > div > span {
  vertical-align: middle;
}

/* line 247, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_buttons.scss */
textarea.incident-report {
  height: 400px;
  width: calc(100% - 18px);
  background-color: #ffffff;
  border: 1px solid #CDCDCD;
  width: calc(100% - 20px);
  margin-top: 10px;
  padding: 10px 9px 10px 9px;
  margin-bottom: 20px;
  font-family: "Open Sans", Helvetica, sans-serif;
  border-radius: 4px;
  box-shadow: inset 0 2px 3px #EAEAEA;
}

/*# sourceMappingURL=../main.map */