/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://use.typekit.net/tzu6iyh.css");
/* line 6, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 27, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 32, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_reset.scss */
body {
  line-height: 1;
}

/* line 36, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 40, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 44, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 50, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 8, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
body {
  background-color: #F6F6F6;
}

/* line 12, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.gradient {
  height: 100vh;
  background: linear-gradient(rgba(92, 184, 178, 0.8), rgba(27, 54, 93, 0.8)), url(../images/background_medium.jpg) center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  flex-direction: column;
}

/* line 34, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.gradient > img {
  width: 150px;
  margin-bottom: 60px;
}

/* line 45, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.client-list > a {
  margin-left: 4px;
  margin-right: 4px;
  margin-top: 4px;
  background-color: #ffffff;
  text-decoration: none;
  height: 130px;
  display: block;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* line 58, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.client-list > a:first-child {
  margin-top: 64px;
}

/* line 63, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.client-list > a > div > p {
  font-size: 16px;
  font-weight: bold;
}

/* line 69, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.client-list > a > div > p:first-child {
  padding-bottom: 10px;
}

/* line 74, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.client-list > a > div > p:last-child {
  font-weight: 400;
}

/* line 79, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.client-list > a > div {
  margin: 0 20px 0 0;
}

/* line 84, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.client-list > a > img {
  height: 90px;
  margin: 0 20px 0 20px;
}

/* line 91, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.heading {
  width: 100%;
  position: fixed;
  top: 0px;
  background-color: #009CA6;
  height: 60px;
}

/* line 102, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.heading > h1 {
  height: 60px;
  color: #ffffff;
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* line 112, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.heading > a {
  float: right;
  display: flex;
}

/* line 117, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.heading > a > img {
  margin-top: -44px;
  width: 26px;
  height: 26px;
  margin-right: 20px;
}

/* line 125, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.float-left {
  display: flex;
  justify-content: flex-start;
}

/* line 131, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_layout.scss */
.float-right {
  display: flex;
  justify-content: flex-end;
}

/* line 6, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_typography.scss */
p, h2 {
  font-family: "Brandon Grotesque", Helvetica, sans-serif;
  color: #009CA6;
}

/* line 11, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_typography.scss */
h1, h2, h3, h4, h5, h6, p {
  color: #7C878E;
}

/* line 15, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Brandon Grotesque", Helvetica, sans-serif;
  font-size: 22px;
}

/* line 1, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_buttons.scss */
input[type=submit] {
  width: 140px;
  height: 40px;
  border-radius: 0;
  -webkit-appearance: none;
  color: #1B365D #1B365D;
  background-color: #ffffff;
  border: none;
  margin: 0 auto;
  display: block;
  margin-top: 30px;
}

/* line 15, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_buttons.scss */
input[type=text] {
  background-color: #ffffff;
  border: none;
  opacity: 0.5;
  width: 260px;
  height: 40px;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
  font-family: "Open Sans", Helvetica, sans-serif;
}

/* line 28, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_buttons.scss */
input[type=text]:focus {
  border: none;
}

/* line 31, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_buttons.scss */
::-moz-focus-inner {
  border: 0;
}

/* line 36, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_buttons.scss */
input[type=submit]:hover {
  background-color: #e6e6e6;
}

/* line 41, /Users/ambermcgregor/Git/KenoAssist/KenoAssist.Web/wwwroot/css/SCSS/partials/_buttons.scss */
label {
  font-family: "Open Sans", Helvetica, sans-serif;
  color: #ffffff;
  margin-top: 20px;
}

/*# sourceMappingURL=../main.map */