################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/KenoAssist/v15
*.suo
*.user
*.userprefs
bin/
obj/
.DS_Store