// Turquoise
$Primary-colour: #009CA6;


// Navy
$Secondary-highlight: #2B5898;

// Purple 
$Primary-complimentary:#7474C1;


// Grey
$Primary-text: #7C878E;

// Grey
$Opacity-text: rgba(124, 153, 142, 70);


// Green
$Secondary-colour: #74AA50;

//White
$Plain-colour: #ffffff;

//red for warnings
$Warning-color:#e04844;

//Background colour
$bg-colour: #F6F6F6;

//Shadows
$btn-shadow: 0px 2px 2px #D4D3D3;