
<div class="page">
 <div class="heading">

          <div class="vertical_align">

        <a href="javascript:void(0);" onclick="history.go(-1);"><p class="return">&#10094 back</p></a>

            </div>

<h1 class="minus-margin-60">Family Account</h1>
</div>

 <a href="@Url.Action("Index", "Login")" class="button-bottom">Sign Out</a>   
 </div>