

.login {
    width: 140px;
    height: 40px;
    border-radius: 0;
    -webkit-appearance: none;
    color: $Secondary-highlight;
    background-color: $Plain-colour;
    border: none;
    margin: 0 auto;
    display: block;
    margin-top: $Spacing-30
}

.login-field {
    background-color: $Plain-colour;
    border: none;
    opacity: 0.5;
    width: 260px;
    height: 40px;
    margin-top: 2px;
    padding-left: $Spacing-10;
    margin-bottom: $Spacing-20;
    font-family: $Paragraph-font;

}

.fullwidth-ghost-btn {
    width: 100%;
    border: 2px solid $Primary-colour;
    background: none;
    color: $Primary-colour;
    border-radius: 0;
     box-shadow: $btn-shadow;
}

.fullwidth-ghost-btn:hover {
    width: 100%;
    border: 2px solid darken($Primary-colour, 10%);
    background: none;
    color: darken($Primary-colour, 10%);
    border-radius: 0;
    box-shadow: $btn-shadow;
}

.uploader-btn {
    width: 300px;
    background-color: $Primary-colour;
    border-radius: 0;
    box-shadow: $btn-shadow;
}


input[type=text]:focus,
.form-control:focus,
textarea.incident-report:focus {
    border: 1px solid $Secondary-highlight;
    outline: none;

}


.gradient > input[type=text],
.gradient > form > [type='text'],
.login-field {
    border: none;
    outline: none

}

.gradient > input[type="submit"]:focus{
    outline:none;

}

.warning-message{
    color:$Plain-colour;
}

.warning-message > svg{
    height:24px;
}

::-moz-focus-inner {
    border: 0
}


.login:hover {
    background-color: darken($Plain-colour, 10%);
}


label.login-page {
    font-family: $Paragraph-font;
    color: $Plain-colour;
    margin-top: $Spacing-20;
    font-weight: 400;
    font-size: 14px;
}

input[type='submit'],
input[type='text'],
input[type='file'],
.form-control,
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}


.gradient > input[type=text] {
    border: none;

}



.button-bottom, {
    left: 0;
    bottom: 0;
    margin: 0;
    background-color: $Primary-colour;
    border: none;
    width: 100%;
    height: 50px;
    position: fixed;
    color: $Plain-colour;
    font-family: $Header-font;
    font-size: 14px;
    box-sizing: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    box-shadow: inset 0 0 0;

    @include crossBrowser(box-shadow, none);
    @include crossBrowser(border-radius, 0);
}
.button-bottom:focus {
        outline: none;
}

.button-bottom:hover{
    background-color:darken($Primary-colour,10%);
}

a.button-bottom {
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    border-radius: 0;
}

//back and button bottom
.heading > div > a,
.button-bottom {
    text-decoration: none;
}


//forms

form > label,
form > inpit{
    display:block;
}

form > label{
    font-weight:700;
    font-size:12px;
    
}

.margin-top-40{
    margin-top:40px;
}

input,
.form-control {
    background-color: $Plain-colour;
    border: 1px solid #CDCDCD;
    width: calc(100% - 18px);
    height: 40px;
    margin-top: $Spacing-10;
    padding-left: 9px;
    margin-bottom: $Spacing-20;
    font-family: $Paragraph-font;
    border-radius: 4px;
    box-shadow: inset 0 2px 3px #EAEAEA;

}

.form-control {
    width: calc(100% - 2px);
    height: 46px;
     //margin-bottom: 2px;
}

//button with images

input.upload-btn {
    background: url("../../images/app_icons/upload_tur.svg") no-repeat 24px center;
    margin: 0 auto;
    cursor: pointer

}


.html5-element {
    width:calc(100% - 18px)
}

option {
    font-family: $Paragraph-font;

}


.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1
}

.inputfile + label {
    display: inline-block
}

.inputfile:focus + label {
    background-color: $Primary-colour;
}

input[type='file'] {
    visibility: hidden;
    display:none;
}

.inputfile + label,
.button-bottom,
.fullwidth-ghost-btn {
    cursor: pointer;
}

.inputfile + label * {
    pointer-events: none

}

.file-uploader {
    width: 100%;
    background: $Primary-colour;
    color: $Plain-colour;
    border-radius: 0;
    box-shadow: $btn-shadow;
    font-weight: 400;
    height: 40px;
    margin: 10px 0 10px 0;
}

.file-uploader:hover{
    background: darken($Primary-colour, 10%);
}

.file-uploader > div {
    text-align: center;
    vertical-align: middle;
    line-height: 40px;

}

.file-uploader > div > svg,
#imageUpload > label > div > svg {
    fill: $Plain-colour;
    margin-right: 6px;
    width: 24px;
    height: 24px;
    vertical-align: middle;
    line-height: 40px;

}

#imageUpload {

    height: 40px;

} .file-uploader > div > span {
    vertical-align: middle

}

textarea.incident-report {
    height: 400px;
    width: calc(100% - 18px);
    background-color: $Plain-colour;
    border: 1px solid #CDCDCD;
    width: calc(100% - 20px);
    margin-top: $Spacing-10;
    padding: 10px 9px 10px 9px;
    margin-bottom: $Spacing-20;
    font-family: $Paragraph-font;
    border-radius: 4px;
    box-shadow: inset 0 2px 3px #EAEAEA;
  

}


.button-bottom:disabled {
    background-color: #D6D6D6;
    color: $Primary-text;
}

.display_none
{
    display:none;
}

.checkbox_slider {
    @include insetShadow;
    width: 70px;
    height: 40px;
    background: $Plain-colour;
    margin: 10px 0 20px 0;
    border-radius: 50px;
    position: relative;
    border: 1px solid #CDCDCD;
     cursor: pointer;
     float:left;
}

.checkbox_text{
    float:left;
    margin:10px 20px 0 0;
    line-height:40px;
    vertical-align:middle;
}


    .checkbox_slider:before {
        //content: 'On';
        position: absolute;
        top: 12px;
        left: 13px;
        height: 2px;
        color: #26ca28;
        font-size: 16px
    }

    .checkbox_slider:after {
        //content: 'Off';
        position: absolute;
        top: 12px;
        left: 84px;
        height: 2px;
        color: #111;
        font-size: 16px
    }

.checkbox_slider label {
    display: block;
    left: 0;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    transition: all .3s ease-in-out;
    cursor: pointer;
    position: absolute;
    z-index: 1;
    background: darken(#F6F6F6, 10%)
}
    /**
 * Create the checkbox event for the label
 */
    .checkbox_slider input[type=checkbox]:checked + label {
        left: 30px;
        background: $Primary-colour
    }

