@import url("https://use.typekit.net/tzu6iyh.css");

$Header-font:"Brandon Grotesque", Helvetica, sans-serif;
$Paragraph-font:"Open Sans", Helvetica, sans-serif;



p, li{
    font-size:16px;
    font-family: $Paragraph-font;
}

li{
    line-height:24px;
}

h1, h2, h3, h4, h5, h6, p, li{
    color: $Primary-text;
}

h1, h2, h3, h4, h5, h6{
    font-family:$Header-font;
    font-size:22px;
}
h1{}


h2 {
    font-size:20px;
}


//menu
.menu_options > a,
.food_menu > a {
    font-family: $Paragraph-font;
    text-decoration: none;
    font-size: 14px;
    color: darken($Primary-text, 15%)
}


//classes

.title{
    font-size: 12px;
}