@import url("https://use.typekit.net/tzu6iyh.css");

$Header-font:"Brandon Grotesque", Helvetica, sans-serif;
$Paragraph-font:"Open Sans", Helvetica, sans-serif;



p, li, label, span{
    font-size:14px;
    font-family: $Paragraph-font;
}


li{
    line-height:24px;
}

h1, h2, h3, h4, h5, h6, p, li, label, placeholder,
input[type='text'], .form-control {
    color: $Primary-text;
    font-family: $Paragraph-font;
}

h1, h2, h3, h4, h5, h6{
    font-family:$Header-font;
    
}
h1 {
    font-size: 22px;
}


h2 {
    font-size:20px;
}

span.title {
    color: $Primary-text;
    font-family: $Paragraph-font;
    font-size: 12px;
    margin-left:4px;
    
}


//menu
.menu_options > a,
.menu_options > a > div > p,
.food_menu > a {
    font-family: $Paragraph-font;
    text-decoration: none;
    font-size: 12px;
    color: darken($Primary-text, 15%)
}

//placeholder text
.opacity-text {
     color: lighten($Primary-text,15%);
}

//classes

.title {
    font-size: 12px;
    color: lighten($Primary-text,15%);
}
.explaining-form-field{
    font-size:12px;
    margin: 10px 0 4px 0;
}

.highlight-text {
    color: $Primary-colour;
    font-weight: 700;
    font-size: 12px;
}

.added-lineheight{
    line-height:24px;}

.primary_heading{
    font-weight:700;
    color:$Primary-colour;
    margin:12px 10px;
    }

.field-validation-error {
    padding: 8px 0 0 0;
    display: block;
    //color: $Warning-color;
    color: $Primary-colour;
}


.meal_heading {
    color: $Primary-colour;
    font-weight: 700
}

.consumption_amount,
.consumption_amount > span {
    color: $Primary-text;
    font-weight: 700;
    text-align: center;
    font-size: 18px
}


//line limits

.incident_character_limit{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 21px;
    max-height: 46px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-right: 6px;
}

.food_search_text{
    margin: 0 0 0 10px;
}