@import url("https://use.typekit.net/tzu6iyh.css");

p, h2 {
    font-family: "Brandon Grotesque", Helvetica, sans-serif;
    color: $Primary-colour;
}

h1, h2, h3, h4, h5, h6, p {
    color: $Primary-text;
}