<div class="page">
    @model DrinkModel
        <div class="heading">
            <div class="vertical_align">
                <a href="javascript:void(0);" onclick="history.go(-1);"><p class="return">&#10094 back</p></a>
            </div>
            <h1 class="minus-margin-60">Add Beverage</h1>
        </div>
        <div class="content-margin">

            <a href="@Url.Action(" AddIncident", "Incident" )" class="button-bottom">Submit</a>
        </div>

</div>