@model DrinkSelectionModel

<script>
function searchClick() {
        var searchString = document.getElementById('searchBox').value;
        location.href = '@Url.Action("SearchDrink", "FoodAndDrink")?searchString=' + searchString;
        return false;
}
</script>

<div class="page">
    <div class="heading">
        <div class="vertical_align">
            <a href="@Url.Action("Drink", "FoodAndDrink" )"><p class="return">&#10094 back</p></a>
        </div>
        <h1 class="minus-margin-60">Add Beverage</h1>
    </div>
    <div class="content-margin">
        @using (Html.BeginForm("AddDrinkVolume", "FoodAndDrink", FormMethod.Post))
        {

            <div class="search_bar">
            <input id="searchBox" placeholder="Search.." type="text" />
            <button onclick="return searchClick()"><p class="return"></p></button>
            </div>
       <p class="primary_heading">Suggestions and Search Results</p>
    
            foreach (var drink in Model.Drinks)
      
            {  <div class="menu_option">
                <p>@drink.Name</p>
                @Html.RadioButtonFor(x => x.SelectedDrink, drink.Id, new { onclick = "this.form.submit();" })
             </div>}
           

        }
        </div>
    </div>
