<div class="page">
    <div class="heading">
        
<h1>Add Food</h1>
</div>

    <div class="content-margin food_menu">
    
<a class="margin-left-4 margin-bottom-4" href="@Url.Action("Food", "FoodAndDrink")">
Breakfast
</a>        

<br/>

<a class="margin-right-4 margin-left-4 margin-bottom-4" href="@Url.Action("Drink", "FoodAndDrink")">
Lunch
</a>

<br/>

<a class="margin-left-4" href="@Url.Action("Menu", "FoodAndDrink")">
Dinner
</a>

<br/>

<a class="margin-left-4" href="@Url.Action("Menu", "FoodAndDrink")">
Snack
</a>
        
</div>
    <div>
