<div class="page">
    <div class="heading">
        
<h1>Add Food</h1>
</div>

    <div class="content-margin food_menu">
    
<a class="margin-left-4 margin-bottom-4" href="@Url.Action("AddFood", "FoodAndDrink", new {type="1"})">
Breakfast
</a>        

<a class="margin-right-4 margin-left-4 margin-bottom-4" href="@Url.Action("AddFood", "FoodAndDrink",new {type="2"})">
Lunch
</a>

<a class="margin-left-4" href="@Url.Action("AddFood", "FoodAndDrink",new {type="3"})">
Dinner
</a>

<a class="margin-left-4" href="@Url.Action("AddFood", "FoodAndDrink",new {type="4"})">
Snack
</a>
        
</div>
<div>
