<div class="page">
    <div class="heading">
      <div class="vertical_align">
            <a href="@Url.Action("Client", "Client")">                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
<g>
    <path class="st27" d="M15.6,18l-6.9-5.5c-0.3-0.3-0.3-0.8,0-1L15.6,6"/>
</g></svg>

            <span>back</span></a>
        </div>

        
<h1 class="minus-margin-60">Food & Drink</h1>
</div>

    <div class="content-margin food_menu">
    
<a class="margin-left-4 margin-bottom-4" href="@Url.Action("Food", "FoodAndDrink")">
           <div>
            <img class="menu-icons" src="../images/app_icons/food_intake.svg">
<p>Food Intake</p>
    </div>
</a>        


<a class="margin-right-4 margin-left-4 margin-bottom-4" href="@Url.Action("Drink", "FoodAndDrink")">
 <div>
            <img class="menu-icons" src="../images/app_icons/beverage_intake.svg">
<p>Drinks</p>
    </div>
</a>



<a class="margin-left-4" href="@Url.Action("Menu", "FoodAndDrink")">
 <div>
            <img class="menu-icons" src="../images/app_icons/food_menu.svg">
<p>Food Menu</p>
    </div>
</a>

        
</div>
    <div>
