
<h2>Food & Drink</h2>

<a href="@Url.Action("Food", "FoodAndDrink")">
Food
</a>        

<br/>

<a href="@Url.Action("Drink", "FoodAndDrink")">
Drinks
</a>

<br/>

<a href="@Url.Action("Menu", "FoodAndDrink")">
Food Menu
</a>

    
