
<h2>Food & Drink</h2>

<a href="@Url.Action("Index", "FoodAndDrink")">
Food
</a>

<a href="@Url.Action("Index", "FoodAndDrink")">
Drinks
</a>

<a href="@Url.Action("Index", "FoodAndDrink")">
Food Menu
</a>