// Mixin
$Spacing-4: 4px;
$Spacing-10: 10px;
$Spacing-15: 15px;
$Spacing-20: 20px; 
$Spacing-30: 30px;

// border radius
$border-radius: 4px;

//vertical align
.vertical-align {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    display:flex;
}

.vertical-align > div {
    vertical-align: middle;
}

body{
    background-color:$bg-colour;
    }

.gradient {
    height: 100vh;
    background:
    /* top, transparent red, faked with gradient */
    linear-gradient( rgba(92,184,178,0.80), rgba(27,54,93,0.80) ),
    /* bottom, image */
    url(../images/background_medium.jpg) center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    flex-direction: column;
}

// Image Sizes

.gradient > img {
    width: 150px;
    margin-bottom: 60px;
  
}

.small-icon{
    width:24px;
}

// Spacing

.content-margin {
    width: 100%;
    margin: 0 auto;
    margin-top: 64px;
     display: block;
}

.content-margin-40 {
    width: calc(100% - 40px);
    margin: 0 auto;
    margin-top: 98px;
    display: block;
    overflow: hidden;
   

    @include respond-to(large-screens) {
        width: 50%
    }


    @include respond-to(desktop-screens) {
        width: 50%
    }

    @include respond-to(wide-screens) {
        width: 50%
    }
}

//column

.client-list > a {
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 8px;
    background-color: $Plain-colour;
    box-shadow: $btn-shadow;
    text-decoration: none;
    height: 130px;
    display: block;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: $border-radius;
}

.client-list > a > div > p {
    font-size: 16px;
    font-weight: bold;

}

.client-list > a:last-child{
    margin-bottom:8px;
}

.client-list > a > div > p:first-child {
    padding-bottom: 10px

}

.client-list > a > div > p:last-child {
    font-weight: 400;

}

.client-list > a > div {
    margin: 0 20px 0 0;

}

.client-list > a > img {
    height: 90px;
    margin: 0 20px 0 20px;

}

//header
.heading {
    width: 100%;
    position: fixed;
    top: 0px;
    background-color: $Primary-colour;
    height: 60px;
     z-index: 100;
}

.heading > .vertical_align > a {
    text-decoration: none;
    color: $Plain-colour;
    justify-content: center;
    display: flex;
    align-items: center;
    vertical-align: middle;
}

.heading > .vertical_align > a > span{
    margin-left: -2px;}

    .heading > h1 {
        font-size: 16px;
        height: 60px;
        color: $Plain-colour;
        justify-content: center;
        display: flex;
        align-items: center;
        vertical-align: middle
    }

    .minus-margin-60 {
        margin-top: -60px
    }


    .heading > a > img {
        float: right;
        display: flex
    }

    .heading > a > img {
        margin-top: -44px;
        width: 26px;
        height: 26px;
        margin-right: 20px
    }

    .return {
        display: flex;
        vertical-align: center;
        color: white;
        margin-left: 6px;
        display: flex
        //align-items: center;
        //justify-content: center;
        //flex-direction: row;
    }

    .vertical_align {
        display: flex;
        align-items: center;
        vertical-align: middle;
        height: 100%;
        width: 20%;
        margin-left: 6px
    }

    .float-left {
        display: flex;
        justify-content: flex-start
    }

    .float-right {
        flex: 0 1 auto;
        width: 100px;
        height: 100px;
        margin-left: auto
    }

    .details-left {
        flex: 0 1 auto;
        width: 160px;
        //position: absolute;
        left: 8px;
        float: left
    }

    .details-right > img,
    .details-right > svg,
    .details-right > span,
    .details-left > img,
    .details-left > svg,
    .details-left > span {
        vertical-align: middle
    }


    .details-right {
        flex: 0 1 auto;
        width: 50%;
        margin-left: auto;
        text-align: right;
        margin-right: 8px
    }
    //keno Homepage
    .page {
        height: calc(100vh - 100px);
        overflow: initial
        //margin-top: 64px
    }

    .menu_options, {
        height: 60%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        flex-flow: row wrap
    }

    //menu icons
.menu-icons {
    margin: 0 auto;
    display: block;
    margin-bottom: 20px;

    @include respond-to(small-screens) {
        width: 26%
    }

    @include respond-to(medium-screens) {
        width: 28%
    }

    @include respond-to(large-screens) {
        width: 14%
    }


    @include respond-to(desktop-screens) {
        width: 10%
    }

    @include respond-to(wide-screens) {
        width: 8%
    }
}

    .keno_client {
        height: 44%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        flex-flow: column wrap
    }

    .keno_client > h2 {
        display: block;
        color: darken($Primary-text, 15%);
        font-weight: 700
    }

    .keno_client > img {
        height: 140px
    }

    .menu_options > a {
        height: 33.3%;
        width: calc(33.3% - 6px);
        background-color: $Plain-colour;
        text-align: center;
        vertical-align: middle;
        display: table
    }

    .menu_options > a > div {
        vertical-align: middle;
        display: table-cell
    }

    .menu_options > a:hover,
    .client-list > a:hover,
    .food_menu > a:hover,
    .default-menu > a:hover {
        background-color: darken($Plain-colour, 2%)
    }
    // food and drink
    .food_menu {
        height: 50%;
        width: 100%;
        display: flex;
        flex-wrap: wrap
    }

    .food_menu > a {
        height: 50%;
        width: calc(50% - 6px);
        background-color: $Plain-colour;
        text-align: center;
        display:table;

    }

.food_menu > a > div {
    display: table-cell;
    vertical-align: middle;
}

    .section_page {
        height: 100vh
    }
    //incidents and injuries
    .default-menu {
        //height: 50%;
        display: flex;
        flex-direction: column;
        //margin: 0 4px;
        display: flex;
        justify-content: flex-start; /* adjustment */
        position: relative
    }

    .incident_container {
        margin-top: 128px
    }

    .default-menu > a {
        height: 120px;
        //width: calc(100% - 16px);
        width: 100%;
        margin-bottom: 8px;
        background-color: $Plain-colour;
        text-decoration: none;
        //padding: 10px 0 10px 8px;
        box-shadow: $btn-shadow;
        border-radius: 4px
    }

    .default-menu > a > p,
    .default-menu > a > p,
    .details-left,
    .details-right,
    .title {
        margin-bottom: 4px
    }

    .title {
        margin: 24px 0 8px 0
    }

    .incident_report_menu > p.title {
        margin: 0 8px 0 0
    }

    .injury_report_img {
        width: 120px
    }

    .client_info_bar {
        top: 60px;
        z-index: 2;
        position: fixed;
        height: 60px;
        //margin: 56px 0 8px 0;
        width: 100%;
        background: $Plain-colour;
        display: flex;
        box-shadow: 0px 2px 2px #D4D3D3
    }

    .client_info_bar > img {
        height: 40px;
        margin: 10px 20px 10px 8px
    }

    .client_info_bar > img,
    .client_info_bar > p {
        float: left
    }

    .client_info_bar > p {
        display: flex;
        align-items: center;
        vertical-align: middle;
        font-size: 16px;
        font-weight: 700
    }

    #imageContainer {
        background-color: #333;
        width: 120px;
        height: 120px;
        border-radius: 4px 0px 0px 4px;
        overflow: hidden;
        float: left;
        margin-right: 12px
    }

    #imageContainer > img {
        width: 120px
    }

    .incident_report_menu {
        //width: calc(100% - 240px)
    }

    .injury_container {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 100px 100px 100px;
        background-color: #fff;
        color: #444
    }


    .default-menu > a:last-child {
        margin-bottom: 58px
    }

    .margin-top-4 {
        margin-top: 4px
    }

    .margin-bottom-4 {
        margin-bottom: 4px
    }

    .margin-left-4 {
        margin-left: 4px
    }

    .margin-right-4 {
        margin-right: 4px
    }

    .margin-top-8 {
        margin-top: 8px
    }

    .margin-top-10 {
        margin-top: 10px
    }


    .margin-top-12 {
        margin-top: 12px
    }

    .margin-top-14 {
        margin-top: 14px
    }

.margin-top-16 {
    margin-top: 14px
}


    .margin-top-20 {
        margin-top: 20px
    }

    .margin-top-0 {
        margin-top: 0
    }

    .fifty_width {
        width: 49%
    }

    .padding-top-12 {
        padding-top: 12px
    }

    .margin-bottom-60{
    margin-bottom: 60px;
                      }

    .containter_fullpage {
        margin: 0 4px 0 4px
    }
    //imgs
    .injury_img {
        width: calc(33.3% - 2.6px);
        margin: 8px 0 16px 0
    }
    // incident report
    .background_container {
        //margin-top: 60px;
        //padding: 4px 8px 4px 8px;
        //height: calc(100vh - 68px);
        background: $Plain-colour;
        margin: 64px 4px 0 4px;
        //padding: 4px 4px 4px 4px;
        height: calc(100vh - 68px)
    }
    //image viewer
    .row > .column {
        padding: 0 4px 0 0
    }

    .row:after {
        content: "";
        display: table;
        clear: both
    }

    .column {
        float: left;
        width: calc(33.3% - 4px)
    }
    /* The Modal (background) */
    .modal {
        display: none;
        position: fixed;
        z-index: 101;
        padding-top: 100px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0,0,0,0.8)
    }
    /* Modal Content */
    .modal-content {
        position: relative;
        margin: auto;
        padding: 0;
        width: 90%
    }
    /* The Close Button */
    .close {
        color: white;
        position: absolute;
        top: 10px;
        right: 25px;
        font-size: 35px;
        font-weight: bold;
        transition: 0.6s ease
    }

    .close:hover,
    .close:focus {
        color: $Primary-colour;
        text-decoration: none;
        cursor: pointer;
        transition: 0.6s ease
    }

    .mySlides {
        display: none
    }

    .cursor {
        cursor: pointer
    }
    /* Next & previous buttons */
    .prev,
    .next {
        cursor: pointer;
        position: absolute;
        top: 55%;
        width: auto;
        padding: 16px;
        margin-top: -50px;
        color: white;
        font-weight: bold;
        font-size: 20px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
        -webkit-user-select: none
    }
    /* Position the "next button" to the right */
    .next {
        right: 0;
        border-radius: 3px 0 0 3px
    }
    /* On hover, add a black background color with a little bit see-through */
    .prev:hover,
    .next:hover {
        color: $Primary-colour
    }
    //image cropping
    .thumbnail {
        position: relative;
        width: 200px;
        height: 200px;
        overflow: hidden
    }

    .thumbnail img {
        position: absolute;
        left: 50%;
        top: 50%;
        height: 100%;
        width: auto;
        -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%)
    }
    // food menu
    .warning_container,
    .date_header,
    .meal_header {
        width: 100%;
        background-color: $Plain-colour;
        margin-top: 4px
    }

    .meal_header {
        background-color: $Primary-colour;
        height: 40px;
        line-height: 40px;
        text-align: center
    }

    .meal_header > p {
        color: $Plain-colour;
        width: 100%;
        font-weight: 700
    }

    .date_header {
        height: 40px;
        margin-top: 64px;
        text-align: center;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 700;
        line-height: 40px
    }

    .date_header > p {
        text-align: center;
        width: 100%
    }

    .date_header > .right_arrow {
        flex: 0 1 auto;
        margin-left: auto;
        padding-right: 12px
    }

    .date_header > .left_arrow {
        padding-left: 12px
    }

    .date_header > a > svg {
        line-height: 40px;
        vertical-align: middle
    }

    .date_header > a {
        text-decoration: none
    }

    .warning_container {
        height: 60px;
        display: flex;
        align-items: center;
        vertical-align: middle
    }

    .warning_container > span {
        width: calc(100% - 16px);
        margin: 0 auto;
        display: block;
        line-height: 20px;
        color: $Primary-colour
    }

    .warning_container > svg {
        margin: 0 8px
    }
    .meal_container {
        margin-top: 4px;
        width: 100%;
        background-color: $Plain-colour
    }

    .meal_container > p {
        border-bottom: solid 0.5px #F6F6F6;
        margin: 10px 10px 14px 10px;
        padding-bottom: 10px
    }

    .meal_container > p:first-child {
        padding-top: 10px;
        margin-top: 0
    }

    .meal_container > p:last-child {
        border-bottom: none
    }

.main_container {
    margin-top: 40px;
    width: 100%;
    background-color: $Plain-colour
}

.drink_container {
    margin-top: 4px;
    width: 100%;
    background-color: $Plain-colour;
    overflow:hidden;
}

.main_container > p {
    float: left;
    width: calc(100% - 40px);
    margin: 0px 0 8px 10px;
    padding: 15px 0;
    border-bottom: solid 0.5px #F6F6F6
}

.drink_container > div {
    padding-bottom: 10px;
    width: 100%;
     margin: 0 10px;
}

.drink_container > div > p {
    float: left;
    width: calc(50% - 20px);
    margin: 5px 0 8px 0;
    padding-bottom: 15px;
    border-bottom: solid 0.5px #F6F6F6
}

.drink_container > div:last-child > p {
    border-bottom: none;
    margin-bottom: 0;
}

.drink_container > div > p:last-child {
    text-align:right;
}

    //menu selection
    .menu_option {
        background: #ffffff;
        width: calc(100% - 11px);
        margin: 4px 0;
        font-weight: 400;
        height: 40px;
        vertical-align: middle;
        line-height: 40px;
        padding-left: 10px;
        cursor: pointer
    }

    .menu_option > input {
        opacity: 0;
        float: right;
        width: 20px;
        margin-top: 0;
        padding-left: 0;
        margin-bottom: 0
    }

.menu_selected {
    color: $Plain-colour;
    background-color: $Secondary-highlight;
}
    /*.menu_selected {
    color: $Primary-colour;
    font-weight:700;
    background-color: $Plain-colour;
}*/
    //svgs
    .st0 {
        clip-path: url(#SVGID_2_);
        enable-background: new
    }

    .st0 {
        clip-path: url(#SVGID_2_);
        enable-background: new
    }

    .st1 {
        clip-path: url(#SVGID_4_)
    }

    .st2 {
        clip-path: url(#SVGID_6_);
        fill: none;
        stroke: #BFBEBE;
        stroke-miterlimit: 10
    }

    .st3 {
        fill: #939595
    }

    .st4 {
        clip-path: url(#SVGID_8_);
        fill: #1A365D
    }

    .st5 {
        clip-path: url(#SVGID_10_);
        fill: #009CA5
    }

    .st6 {
        clip-path: url(#SVGID_12_);
        fill: #2B5898
    }

    .st7 {
        clip-path: url(#SVGID_14_);
        fill: #0D1622
    }

    .st8 {
        clip-path: url(#SVGID_16_);
        fill: #59C7DC
    }

    .st9 {
        clip-path: url(#SVGID_18_);
        fill: #00545A
    }

    .st10 {
        clip-path: url(#SVGID_20_);
        fill: #73AA4E
    }

    .st11 {
        clip-path: url(#SVGID_22_);
        fill: #9CC480
    }

    .st12 {
        clip-path: url(#SVGID_24_);
        fill: #507636
    }

    .st13 {
        clip-path: url(#SVGID_26_);
        fill: #7574B6
    }

    .st14 {
        clip-path: url(#SVGID_28_);
        fill: #A7A6CF
    }

    .st15 {
        clip-path: url(#SVGID_30_);
        fill: #4C4C92
    }

    .st16 {
        clip-path: url(#SVGID_32_);
        fill: #808182
    }

    .st17 {
        clip-path: url(#SVGID_34_);
        fill: #A5ADB1
    }

    .st18 {
        clip-path: url(#SVGID_36_);
        fill: #586066
    }

    .st19 {
        fill: none;
        stroke: #009CA5;
        stroke-width: 2;
        stroke-linejoin: round;
        stroke-miterlimit: 10
    }

    .st20 {
        fill: none;
        stroke: #009CA5;
        stroke-width: 2;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-miterlimit: 10
    }

    .st21 {
        fill: none;
        stroke: #009CA5;
        stroke-width: 2;
        stroke-miterlimit: 10
    }

    .st22 {
        fill: none;
        stroke: #009CA5;
        stroke-width: 2.3034;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-miterlimit: 10
    }

    .st23 {
        fill: none;
        stroke: #009CA5;
        stroke-width: 2.0061;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-miterlimit: 10
    }

    .st24 {
        fill: #FFFFFF
    }

    .st25 {
        fill: #009CA5
    }

    .st26 {
        fill: none;
        stroke: #FFFFFF;
        stroke-width: 2;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-miterlimit: 10
    }

    .st27 {
        fill: none;
        stroke: #FFFFFF;
        stroke-width: 2;
        stroke-miterlimit: 10
    }

    .st28 {
        fill: none;
        stroke: #009CA4;
        stroke-width: 2;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-miterlimit: 10
    }

    .st29 {
        fill: #009CA5
    }

    .st30 {
        fill: none;
        stroke: #009CA5;
        stroke-width: 2;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-miterlimit: 10
    }


.st31 {
    fill: none;
    stroke: #FFFFFF;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10
}

    // beverage intake glass

#container {
    -webkit-clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
    clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
    background: $Plain-colour;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    margin-bottom: 14px;
    margin-top: 40px
}

#glass {
    -webkit-clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
    clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
    background: $Plain-colour;
    width: 100px;
    height: 150px;
    position: relative
}

#water {
    background-color: $Secondary-highlight;
    position: absolute;
    bottom: 0px;
    width: 300px;
    height: 100px;
}

#water {
 
-webkit-animation: water-fill 5s;
animation: water-fill 5s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes water-fill {
    0% { height: 0;} 
}

@keyframes water-fill {
    0% {
        height: 0;
    } 
}

//food intake

.food-intake > a {
    height: 65px;
    vertical-align: middle;
        line-height:normal;
        padding:10px;

}

.food-intake {
    width: calc(100% - 28px);
    margin-left:4px;
}

.no_entry{
    height:100%;
    vertical-align:middle;
    align-items:center;
}

.left {
    float: left;
    width: 85%;

}

.right {
    top: 0;
    right: 0;
    text-align: center;
    width: auto;
    align-items: center;
    vertical-align: middle;
    height: 100%;
}

.right > p{
    
}

.float-left {
    display: flex;
    justify-content: flex-start
}

.float-right {
    flex: 0 1 auto;
    width: 100px;
    height: 100px;
    margin-left: auto
}


.search_bar {
    margin-left: 4px;
    width:calc(100% - 4px);
}

.search_bar input[type=text] {
    width: calc(100% - 80px);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none

}

.search_bar input[type=text]:hover,
.search_bar input[type=text]:focus {
    border-right: none

}


.search_bar button {
    height: 47px;
    margin-top: 10px;
    padding-left: 9px;
    margin-bottom: 20px;
    width: 60px;
    float: right;
    padding: 6px 10px;
    margin-right: 4px;
    background: $Primary-colour;
    font-size: 17px;
    border: none;
    cursor: pointer;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
     box-shadow: $btn-shadow;
}

.search_bar button:hover{
    color: darken($Primary-colour, 10%);
}

.quick_entry {
    width: 100%;
    margin: 20px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row wrap;
    height:100%;
  
}

.quick_entry > div {
    margin-left: 8px;
    height: 50%;
    width: calc(33.3% - 6px);
    background-color: #ffffff;
    text-align: center;
    vertical-align: middle;
    display: table;
    border-radius: 4px;
     box-shadow: $btn-shadow;
}

.quick_entry > div:first-child{
    margin-left:0;
}
.quick_entry > div > label > input {
    opacity: 0;
    cursor: pointer;
    opacity: 0;
    float: right;
    width: 20px;
    margin-top: 0;
    padding-left: 0;
    margin-bottom: 0;
    height: 0

}

.quick_entry > div:active {
    box-shadow: inset 0 0 0 2px $Primary-colour;
}

.quick_entry > div > p {
    margin-bottom: 20px

}

.quick_entry > div > label > img {
    width: 50%;
    margin: 20px 0 10px 0;


    @include respond-to(small-screens) {
        width: 50%
    }

    @include respond-to(medium-screens) {
        width: 25%
    }

    @include respond-to(large-screens) {
        width: 20%
    }


    @include respond-to(desktop-screens) {
        width: 20%
    }

    @include respond-to(wide-screens) {
        width: 20%

    }
}